/*headerのlogoとリンク部分*/
/*ロゴ部分*/
header a img{
	height: 100px;
	width: auto;
	position: fixed;
}
header{
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100px;

	
}


.item {
	color: #ffffff;
	margin: auto;
	width: fit-content;

}

/*リンク部分*/
ul {
	list-style: none;	/*リストマーカーを消している　「・」のこと*/
	margin-left: 0;
}

.ul_del {
	text-decoration: none;	/*リンクのアンダーラインを消してくれる	<a>タグ*/
	color: #FFFFFF;
	margin: auto 0;
	font-size: 20px;
}

ul.menu_list {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 10;
	height: 50px;
}

.menu_list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
	width: max-content;
	margin-left: auto;
	height: fit-content;
}